.owner-text {
    padding: 1.5rem;
    font-size: 13px;
    color: var(--textColor);
    text-align: center;
    border-top: 1px solid var(--borderColor);
    letter-spacing: 0.5px;
    opacity: 0.7;
}

.owner-text a {
    text-decoration: none;
    transition: 0.2s;
}

.owner-text a:hover {
    text-decoration: underline;
}

@media (max-width: 550px) {
    .owner-text {
        font-size: 10px;
    }
}